%div.mypage-content
  %section.purchace
    %h2.profile__top クレジットカード情報入力
    .content
      = form_with url: root_path, local: true do |f|
        %div.content__inner
          %div.resister-credit
            %label.resister-credit__number カード番号
            %span.resister-credit__need 必須
            = f.text_field :text, placeholder: "半角数字のみ", class:"resister-credit__text"
            %ul.resister-credi__errow
            %ul.resister-credi__card
              = image_tag "credit01.JPG", class: "resister-credit__list"
          %div.resister-credit.margin
            %label.resister-credit__number 有効期限
            %span.resister-credit__need 必須
            %br
            %div.resister-credit__limit
              %select.resister-credit__limit__mm
                %option{value: ""} --
                %option{value: "1"}01
                %option{value: "2"}02
                %option{value: "3"}03
                %option{value: "4"}04
                %option{value: "5"}05
                %option{value: "6"}06
                %option{value: "7"}07
                %option{value: "8"}08
                %option{value: "9"}09
                %option{value: "10"}10
                %option{value: "11"}11
                %option{value: "12"}12
              %i.fas.fa-chevron-down
              %span 月
            %div.resister-credit__limit
              %select.resister-credit__limit__mm
                %option{value: ""} --
                %option{value: "2019"}19
                %option{value: "2020"}20
                %option{value: "2021"}21
                %option{value: "2022"}22
                %option{value: "2023"}23
                %option{value: "2024"}24
                %option{value: "2025"}25
                %option{value: "2026"}26
                %option{value: "2027"}27
                %option{value: "2028"}28
                %option{value: "2029"}29
              %i.fas.fa-chevron-down
              %span 年
          %div.resister-credit.margin
            %label.resister-credit__number セキュリティーコード
            %span.resister-credit__need 必須
            = f.text_field :code, placeholder: "カード背面4桁もしくは3桁の番号", class:"resister-credit__text"
          = f.submit "追加する", class: 'profile__top__content__button margin'