.mypage-content
  %section.purchace
    %h2.profile__top クレジットカード情報入力
    .content
      = form_with url: pay_credit_index_path, method: :post, html: { name: "inputForm" } do |f|
        .content__inner
          .resister-credit
            = f.label :カード番号, class: "resister-credit__number" 
            %span.resister-credit__need 必須
            = f.text_field :card_number, name: "number", id:"number", type: 'text', placeholder: "半角数字のみ", maxlength: "16", class:"resister-credit__text"
            %ul.resister-credi__errow
            %ul.resister-credi__card
              = image_tag "credit01.JPG", class: "resister-credit__list"
          .resister-credit.margin
            = f.label :有効期限, class: "resister-credit__number" 
            %span.resister-credit__need 必須
            %br
            .resister-credit__limit
              = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{}, class: "resister-credit__limit__mm", name: "exp_month", id: "exp_month"
              %i.fas.fa-chevron-down
              %span 月
            .resister-credit__limit
              = f.select :exp_year, [["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{}, class: "resister-credit__limit__mm", name: "exp_year", id:"exp_year"
              %i.fas.fa-chevron-down
              %span 年
          .resister-credit.margin
            = f.label :セキュリティーコード, class: "resister-credit__number" 
            %span.resister-credit__need 必須
            = f.text_field :cvc, name: "cvc", id:"cvc", type: 'text',placeholder: "カード背面4桁もしくは3桁の番号", maxlength: "4",class:"resister-credit__text"
          .submitter
            = f.submit "追加する", class: 'profile__top__content__button margin', id: "token_submit"
          %input{:id => "card_token", :type => "hidden"}


