.new
  =form_for @item do |f|
    .new-top
      =link_to image_tag("logo.png", class: "new-top-img")
    .new-mains
      .new-mains-main
        %form.new-mains-main-form{action:'/', method:'get'}
          .new-mains-main-form-gm
            .new-mains-main-form-gm-sc-name-img
              = f.label :image, "出品画像"
              %span.new-mains-main-form-gm-sc-name-img-hi 必須
            %p.new-mains-main-form-gm-sc-name-sy 最大5枚までアップロードできます
            .post__drop__box__container
              .prev-content
                - @item.pictures.each do |image|
                  .preview-box
                    .upper-box
                      = image_tag image.image.url, width: "112", height: "112", alt: "preview"
                    .lower-box
                      .delete-box
                        .delete-btn
                          %span 削除
              .label-content
                %label{for: "item_pictures_attributes_#{@item.pictures.length}_image", class: "label-box", id: "label-box--#{@item.pictures.length}"}
                  %pre.label-box__text-visible クリックしてファイルをアップロード
              .hidden-content
                = f.fields_for :pictures do |i|
                  = i.file_field :image, class: "hidden-field"
                  = i.check_box :_destroy, class: "hidden-checkbox"
                - @item.pictures.length.upto(4) do |i|
                  %input{name: "item[pictures_attributes][#{i}][image]", id: "item_pictures_attributes_#{i}_image", class:"hidden-field", type:"file"}
                     
          %hr.tw
          .two
            .two-style
              .two-style-name
                .two-style-name-box
                = f.label :name, "商品名"
                %span.two-style-name-ss 必須
                - if @item.errors.any?
                  %ul
                    %li.error__messages
                      = @item.errors.full_messages_for(:name).first
              .two-style-fail
                .two-style-fail-und
                  = f.text_field :name,placeholder:'キーワードから探す',class:'two-style-fail-und-p'
            .two-for
              .two-for-body
                .two-for-body-form
                  = f.label :description, "商品の説明"
                  %spa.two-for-body-form-sp 必須
                = f.text_area :description ,placeholder:'商品の説明(必須 1,000文字以内)(色、素材、重さ、定価、注意点など)',class:'two-for-body-forms'
                  - if @item.errors.any?
                  %ul
                    %li.error__messages
                      = @item.errors.full_messages_for(:description).first
                .two-for-body-left
                  %span 0 
                  %text /
                  %text 1000
          %hr.two-sen

          .three
            %p.three-p 商品の詳細
            .three-sy
              .three-sy-body
                .three-sy-body-cate
                  = f.label :category_id, "カテゴリー"
                  - if @item.errors.any?
                    %ul
                      %li.error__messages
                        = @item.errors.full_messages_for(:category_id).first
                  %span  必須
                .three-sy-body-co
                  .three-sy-body-co-cere
                    %select#parent
                      %option{value: 0} ---
                      - Category.where('ancestry IS NULL').each do |cat|
                        %option{value: "#{cat.id}"} #{cat.name}
                    =image_tag 'caret-down-solid.svg'
            .three-box
              .three-box-body
                .three-box-body-br
                  %label ブランド
                  %span 任意
                .three-box-body-two
                  .three-box-body-two-style
                    = f.text_field :brand, placeholder: "例）シャネル"
                    - if @item.errors.any?
                      %ul
                        %li.error__messages
                          = @item.errors.full_messages_for(:brand).first
            .three-box
              .three-box-body
                .three-box-body-br
                  %label サイズ
                  %span 任意
                .three-box-body-two
                  .three-box-body-two-style
                    = f.text_field :size, placeholder: "例）S"
                    - if @item.errors.any?
                      %ul
                        %li.error__messages
                          = @item.errors.full_messages_for(:size).first
            .three-jo
              .three-jo-bo
                .three-jo-bo-name
                  .three-jo-bo-name-sele
                    = f.select :status, [["選択してください",0],["新品、未使用", 1], ["未使用に近い", 2], ["目立った傷や汚れなし", 3],["やや傷や汚れあり", 4], ["傷や汚れあり", 5], ["全体的に状態が悪い", 6]]
                    - if @item.errors.any?
                      %ul
                        %li.error__messages
                          = @item.errors.full_messages_for(:status).first
                    =image_tag 'caret-down-solid.svg'
          %hr.tree-a

          .for
            %p.for-cb 
              配送について
              =image_tag 'question-circle-regular.svg'
            .for-style
              .for-style-body
                .for-style-body-form
                  %label 配送料の負担
                  %span 必須
                .for-style-body-sele
                  .for-style-body-sele-tara
                    = f.select :charge, [["選択してください",0],["送料込み（出品者負担）",1],["着払い（購入者負担）", 2]]
                    - if @item.errors.any?
                      %ul
                        %li.error__messages
                          = @item.errors.full_messages_for(:charge).first
                    =image_tag 'caret-down-solid.svg'
            .for-style
              .for-style-body
                .for-style-body-form
                  %label 発送元の地域
                  %span 必須
                .for-style-body-sele
                  .for-style-body-sele-tara
                    = f.collection_select :region, Prefecture.all, :id, :name
                    - if @item.errors.any?
                      %ul
                        %li.error__messages
                          = @item.errors.full_messages_for(:region).first
                    =image_tag 'caret-down-solid.svg'
            .for-style
              .for-style-body
                .for-style-body-form
                  %label 発送までの日数
                  %span 必須
                .for-style-body-sele
                  .for-style-body-sele-tara
                    = f.select :date, [["選択してください",0],["1~2日で発送", 1], ["2~3日で発送", 2], ["4~7日で発送", 3]]
                    - if @item.errors.any?
                      %ul
                        %li.error__messages
                          = @item.errors.full_messages_for(:date).first
                    =image_tag 'caret-down-solid.svg'
          %hr.tree-a

          .five
            %p.five-sc
              価格(¥
              300
              〜
              9,999,999)
              =image_tag 'question-circle-regular.svg'
            .five-nj
              .five-nj-jk
                .five-nj-jk-name
                  .five-nj-jk-name-sy 
                    %label 販売価格
                    %span.five-nj-jk-name-sy-hh 必須
                  %span.five-nj-jk-name-span ¥
                  .five-nj-jk-name-box
                    .five-nj-jk-name-box-x
                      = f.number_field :price, onKeyUp:"keisan(this)"
                      - if @item.errors.any?
                        %ul
                          %li.error__messages
                            = @item.errors.full_messages_for(:price).first
              .five-nj-ck
                .five-nj-ck-data
                  .five-nj-ck-data-div 販売手数料(10%)
                %span#charge 
                  ー
              %hr
              .five-nj-last
                .five-nj-last-rieki 販売利益
                %span#profit 
                  ー
              .five-nj-syu
                =f.submit "更新する",class:'button'
                =link_to "/" do
                  もどる
              %p.five-nj-p 禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
    
    .new-mains-footer
      .new-mains-footer-ss
        %ul.new-mains-footer-ss-u
          %li.new-mains-footer-ss-u-i 
            =link_to "/" do
              プライバシーポリシー
          %li.new-mains-footer-ss-u-ii  
            =link_to "/" do
              FURIMA利用規約
          %li.new-mains-footer-ss-u-iii 
            =link_to "/" do
              特定商取引に関する表記