= render "/shared/header"

.main
  %section.mainvisual
    .content
      %h2.content-subtitle  人生を変えるフリマアプリ
      %p.content-text FURIMAはだれでもかんたんに出品・購入できる
      .content-text-br フリマアプリです
      .content-btn
        =link_to image_tag("app.png", class: "appbtn",size: '180x53')
        =link_to image_tag("ggg.png", class: "gggbtn",size: '180x53')
    .picture

  %section.top
    %h2.top-subtitle FURIMAが選ばれる３つの理由
    %ul.top-lists
      %li.top-lists-list
        .top-lists-list__pick
          .top-lists-list__pick-number 1 
          =image_tag 'pic1.jpg'
        %h3.top-lists-list__text
          %span 3分
          %text ですぐに出品
        %p.top-lists-list__comment  スマホで入力するだけで簡単に出品できる！
      %li.top-lists-list
        .top-lists-list__pick
          .top-lists-list__pick-number 2
          =image_tag 'pic2.jpg'
        %h3.top-lists-list__text
          %span シンプル
          %text で使いやすい
        %p.top-lists-list__comment  めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.top-lists-list
        .top-lists-list__pick
          .top-lists-list__pick-number 3
          =image_tag 'pic3.jpg'
        %h3.top-lists-list__text
          %text 手数料
          %span 業界最安値
        %p.top-lists-list__comment  最大3%でお得に出品&購入！

  %section.middle
    .middle-top
      %h2.middle-top-subtitle 会員数日本一位
      %p.middle-top-text  FURIMAは、フリマアプリで最も人気。
      .middle-top-text1 出品・購入回数も業界最多です！
      .middle-top-text2  ほしかったあの商品に出会えるかもしれません。
      .middle-top-btn
        =link_to image_tag("app.png", class: "appbtn",size: '180x53')
        =link_to image_tag("ggg.png", class: "gggbtn",size: '180x53')

  %section.key
    %h2.key-head FURIMAの特徴
    .key-items
      %section.key-items-item
        %figure.key-items-item__img
          =image_tag 'icon-01.png'
        %h3.key-items-item__subtitle  簡単に売り買いできる
        %p.key-items-item__comment スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %section.key-items-item
        %figure.key-items-item__img
          =image_tag 'icon-03.png'
        %h3.key-items-item__subtitle  売上金は即日振込みに対応
        %p.key-items-item__comment 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %section.key-items-item
        %figure.key-items-item__img
          =image_tag 'icon-04.png'
        %h3.key-items-item__subtitle  様々な支払いに対応
        %p.key-items-item__comment お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
      
  %section.picup
    %h2.picup-head ピックアップカテゴリー
    .picup-box
      .picup-box-Head
        =link_to newindex_items_path,class:"picup-box-Head-a" do
          %h3.picup-box-Head-title 新規投稿商品
          = link_to "もっと見る", newindex_items_path
      .picup-box-lists
        - if @items.present?
          - @items.each do |item|
            .picup-box-lists-list
              =link_to sample_item_path(item) do
                %figure.picup-box-lists-list--image
                  =image_tag item.pictures.first.image.url
                .picup-box-lists-list--body
                  %h3.picup-box-lists-list--body-name
                    - if item.buyer_id
                      .sold__item SOLD
                    - else 
                      = item.name
                  .picup-box-lists-list--body-deta
                    %ul
                      %li
                        - if item.buyer_id
                          .sold__item 購入不可
                        - else
                          = "#{item.price}円"
                      %li 
                        %i.fas.fa-star
                        0
                    %p
                      (税込)
  %section.picup
    %h2.picup-head ピックアップブランド
    .picup-box
      .picup-box-Head
        %a.picup-box-Head-a{href: '#'}
          %h3.picup-box-Head-title アーカイバ
      .picup-box-lists
        - if @random.present?
          - @random.each do |random|
            .picup-box-lists-list
              =link_to sample_item_path(random) do
                %figure.picup-box-lists-list--image
                  =image_tag random.pictures.first.image.url
                .picup-box-lists-list--body
                  %h3.picup-box-lists-list--body-name
                    - if random.buyer_id
                      .sold__item SOLD
                    - else
                      = random.name
                  .picup-box-lists-list--body-deta
                    %ul
                      %li
                        -if random.buyer_id
                          .sold__item 購入不可
                        - else 
                          = "#{random.price}円"
                      %li 
                        %i.fas.fa-star
                        0
                    %p
                      (税込)
    %aside.app
      .app-inner
        %h2.app-inner-title だれでもかんたん、人生を変えるフリマアプリ
        %p.app-inner-text 今すぐ無料ダウンロード！
        .app-inner-icon
          =link_to image_tag("app.png", class: "appbtn",size: '180x53')
          =link_to image_tag("ggg.png", class: "gggbtn",size: '180x53')
    
= render "/shared/footer"