%h2 会員情報入力
= form_for(@user, as: resource_name, url: user_registration_path) do |f|
  = render "devise/shared/error_messages", resource: @user
  .form__new-user
    .field
      = f.label :ニックネーム
      %br/
      = f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "例）フリマ太郎"
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可"
    .field
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "new-password", placeholder: "７文字以上の半角英数字"
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "７文字以上の半角英数字"
    .form__new-user__name-area
      .field
        = f.label :"お名前(全角）"
        %br/
        = f.text_field :familyname, autofocus: true, autocomplete: ":familyname"
        = f.text_field :name, autofocus: true, autocomplete: ":name"
    .form__new-user__kana-area
      .field
        = f.label :"お名前ふりがな(全角）"
        %br/
        = f.text_field :kana_familyname, autofocus: true, autocomplete: ":kana_familyname"
        = f.text_field :kana_name, autofocus: true, autocomplete: ":kana_name"
    .field
      = f.label :birthday
      %br/
      = f.date_select :birthday, use_month_numbers: true, start_year: 1970, end_year: (Time.now.year - 5), default: Date.new(1989, 1, 1), autocomplete: ":birthday"
    .actions
      = f.submit "Next"
