<h2>Sign up</h2>

<%= form_for(@user, as: resource_name, url: user_registration_path) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :familyname %><br />
    <%= f.text_field :familyname, autofocus: true, autocomplete: ":familyname" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: ":name" %>
  </div>

  <div class="field">
    <%= f.label :kana_familyname %><br />
    <%= f.text_field :kana_familyname, autofocus: true, autocomplete: ":kana_familyname" %>
  </div>

  <div class="field">
    <%= f.label :kana_name %><br />
    <%= f.text_field :kana_name, autofocus: true, autocomplete: ":kana_name" %>
  </div>

  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday, use_month_numbers: true, start_year: 1970, end_year: (Time.now.year - 5), default: Date.new(1989, 1, 1), autocomplete: ":birthday" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
