.form__new-user
  .form__new-user__title
    会員情報入力
  = form_for(@user, as: resource_name, url: user_registration_path) do |f|
    = render "devise/shared/error_messages", resource: @user
    .form__new-user__field
      .form__new-user__area
        .field
          = f.label :ニックネーム
          %span.field-item 必須
          %br/
          = f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "例）フリマ太郎", class: "field-input"
        .field
          = f.label :email
          %span.field-item 必須
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可", class: "field-input"
        .field
          = f.label :password
          %span.field-item 必須
          %br/
          = f.password_field :password, autocomplete: "new-password", placeholder: "７文字以上の半角英数字", class: "field-input"
        .field
          = f.label :password_confirmation
          %span.field-item 必須
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "７文字以上の半角英数字", class: "field-input"
        .field
          %h3.confirmation 本人確認 
          安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .field
          = f.label :"お名前(全角)"
          %span.field-item 必須
          %br/
          = f.text_field :familyname, autofocus: true, autocomplete: ":familyname", placeholder: "例）山田", class: "field-input-name"
          = f.text_field :name, autofocus: true, autocomplete: ":name", placeholder: "例）彩", class: "field-input-name"
        .field
          = f.label :"お名前かな(全角)"
          %span.field-item 必須
          %br/
          = f.text_field :kana_familyname, autofocus: true, autocomplete: ":kana_familyname", placeholder: "例）やまだ", class: "field-input-name"
          = f.text_field :kana_name, autofocus: true, autocomplete: ":kana_name", placeholder: "例）あや",class: "field-input-name"
        .field
          = f.label :生年月日
          %span.field-item 必須
          %br/
          = f.date_select :birthday, use_month_numbers: true, start_year: 1970, end_year: (Time.now.year - 5), default: Date.new(1989, 1, 1), autocomplete: ":birthday", class: "field-input"
        %p.attention ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        %p.attention-next 「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
        .user-submit
          = f.submit "次へ進む", class: "user-submit__btn"
