%h2 Sign up
= form_for(@user, as: resource_name, url: user_registration_path) do |f|
  = render "devise/shared/error_messages", resource: @user
  .field
    = f.label :nickname
    %br/
    = f.text_field :nickname, autofocus: true, autocomplete: "nickname"
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    = f.label :familyname
    %br/
    = f.text_field :familyname, autofocus: true, autocomplete: ":familyname"
  .field
    = f.label :name
    %br/
    = f.text_field :name, autofocus: true, autocomplete: ":name"
  .field
    = f.label :kana_familyname
    %br/
    = f.text_field :kana_familyname, autofocus: true, autocomplete: ":kana_familyname"
  .field
    = f.label :kana_name
    %br/
    = f.text_field :kana_name, autofocus: true, autocomplete: ":kana_name"
  .field
    = f.label :birthday
    %br/
    = f.date_select :birthday, use_month_numbers: true, start_year: 1970, end_year: (Time.now.year - 5), default: Date.new(1989, 1, 1), autocomplete: ":birthday"
  .actions
    = f.submit "Next"
= render "users/shared/links"
